.burgerMenu {
  position: fixed;
  top: 1.8rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 20;
}
div.burgerMenu {
  background-color: transparent;
}

.burger {
  height: 0.25rem;
  width: 2rem;
  background-color: var(--background);
  transform-origin: 1px;
  transition: all 0.5 ease;
}

.burger.isOpen {
  transition: all 0.5s ease;
}

/* .burgerMenu {
  display: none;
} */

/* need to add isOpen class */
.burger1.isOpen {
  transform: rotate(45deg);
}
.burger2.isOpen {
  transform: translateX(100%, 0);
  opacity: 0;
}
.burger3.isOpen {
  transform: rotate(-45deg);
}

@media (max-width: 800px) {
  .burgerMenu {
    display: fixed;
    padding: 2rem 0 0 2rem;
    z-index: 20;
  }
}
