.cartContainer {
  /* width: 80vw; */

  margin: 0 auto;
  padding-top: 2rem;
  position: sticky;
  top: 2.5%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  background-position: center;
  background-size: repeat;
}

.cartBox {
  background: linear-gradient(
    138deg,
    #fff 0%,
    rgba(255, 255, 255, 0.49) 50.98%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(15px);
  width: 80vw;
  height: fit-content;
  margin: 0 auto;
  padding: 5rem;
  position: sticky;
  top: 2.5%;
  border: var(--border-width) solid var(--border-color);
  box-shadow: var(--border-color) 0.5em 0.5em 0em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: space-around; */
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
}

.cartBox h1,
.cartBox p {
  padding-bottom: 1rem;
}

.cartBox div {
  padding-top: 1rem;
}
.cartContainer::after {
  background-color: transparent;
  border: none;
}

/* .cartContainer > div,
.cartContainer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
} */

label {
  padding-right: 50%;
}

.cartContainer > button {
  position: relative;
  left: 45%;
}

.imageContainerCart[style*="background-image"] {
  position: relative;

  border: var(--border-width) solid var(--border-color);
  box-shadow: 0.5em 0.5em 0em;
  width: 100%;
  min-height: 8rem;
  overflow: hidden;
  margin: 1rem 1rem 2rem 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.imageContainerCart[style*="background-image"]::before {
  display: block;
  position: relative;
  content: "";
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100%;
  z-index: 3;
  /* opacity: 0.3; */
  pointer-events: none;
  transition: 0.5s;
}

.imageContainerCart[style*="background-image"]:hover::before {
  opacity: 0;
}

@media only screen and (min-width: 800px) {
  .cartBox {
    width: 60vw;
  }

  /* .contactForm {
    width: 50vw;
  }
  textarea {
    width: 30vw;
    height: 30vh;
  } */
}
