.cartContainer {
  width: 80vw;
  height: 95%;
  margin: 0 auto;
  padding-top: 2rem;
  position: sticky;
  top: 2.5%;
}

.cartContainer::after {
  background-color: transparent;
  border: none;
}

.cartContainer > div,
.cartContainer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

label {
  padding-right: 50%;
}

.cartContainer > button {
  position: relative;
  left: 45%;
}

@media only screen and (min-width: 800px) {
  /* .contactForm {
    width: 50vw;
  }
  textarea {
    width: 30vw;
    height: 30vh;
  } */
}
