/* 
----------------- */

:root {
  --background: #eaeaea;
  --text-primary: #1b1b1b;
  --text-secondary: rgb(0, 255, 123);
  --accent: rgb(0, 255, 123);
  --border: #1b1b1b;
}

[data-theme="dark"] {
  --background: #4a4a4a;
  --text-primary: #eaeaea;
  --text-secondary: rgb(255, 167, 167);
  --accent: rgb(255, 167, 167);
  --border: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  transition: all 0.5s;
}

img.logo {
  width: 100px;
}

/*padding for nested divs*/
div.logo,
div.nav,
div.social,
.main-header,
.main-content,
.main-footer {
  padding: 2vh;
}

.main-content {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3.4fr 0.3fr;
    gap: 5px 5px;
    grid-template-areas:
      "sidebar"
      "header"
      "main"
      "footer";
  }
  .container > div {
    padding: 2vh;
    text-align: center;
  }

  .main-header {
    /*get rid of on mobile*/
    display: none;
  }

  div.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
  }
}
@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.6fr;
    grid-template-rows: 0.1fr 2.8fr 0.1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
  }

  .main {
    grid-area: 1 / 2 / 4 / 3;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo"
      "nav"
      "social";
    grid-area: 1 / 1 / 4 / 2;
  }

  .logo {
    grid-area: logo;
  }

  .nav {
    grid-area: nav;
  }

  .social {
    grid-area: social;
  }

  .main-header {
    grid-area: 1 / 2 / 2 / 3;
  }

  .main-content {
    grid-area: 2 / 2 / 3 / 3;
  }

  .main-footer {
    grid-area: 3 / 2 / 4 / 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
