.main-content .container {
  background-color: var(--div-background-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: transparent;
  gap: 2em;
}

/* .illustrationContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
} */

.illustrationContainer .illustration {
  padding: 2rem;
}
section.illustration.card {
  position: relative;
  cursor: pointer;
  border: var(--border-width) solid var(--border-color);
  box-shadow: 0.5em 0.5em 0em;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 2em;
}

/* .card {
  flex: 0 1 calc(100% - 1em);
} */

.illustration .imageContainer {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.illustration > .imageContainer {
  border: none;
  box-shadow: none;
  position: relative;
  top: 0%;
  width: 100%;
  height: 55vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.illustration > .imageContainer > .imgDiv img {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.illustration .card > .details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media only screen and (min-width: 800px) {
  .illustration > .imageContainer > img {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
}
