/* mobile first  */

/* button.clear {
  padding: 0.5rem 1rem;
  display: none;
} */

.nav {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav p {
  padding: 1rem 0 0.2rem 0;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  color: var(--text--primary);
  text-transform: uppercase;
  /* display: inline-block;
  position: relative; */
}

.nav p:active,
.nav p:hover {
  transition: all 0.4s ease-out;
  color: var(--accent);
  cursor: pointer;
}

.artIcon,
.illustrationIcon {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

/* attempt at styling the svg import  */
div.illustrationIcon svg {
  height: 7rem;
  width: auto;
}

/* END attempt at styling the svg import  */

div.illustrationIcon svg,
img.artIcon {
  height: 7rem;
  width: auto;
  transition: transform 0.4s ease-in-out;
}

img.artIcon:hover,
div.illustrationIcon svg:hover {
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out;
}

/* 
INVERT SEEMS TO BE MAKING THEM SHOW WHEN MENU CLOSED???? */
[data-theme="dark"] img.artIcon {
  filter: invert();
  /* 
  fill: var(--text-primary); */
}

[data-theme="dark"] div.illustrationIcon > a > div > div > svg.injected-svg {
  filter: invert();
}

/* desktop */

@media only screen and (min-width: 800px) {
  div.nav {
    padding-left: 1.5rem;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .nav p {
    font-size: 1rem;
  }

  img.artIcon {
    width: 4rem;
    /* height: auto; */
  }

  /* img.illustrationIcon {
    height: 4rem;
  } */
  div.illustrationIcon svg {
    height: 4rem;
  }

  img.artIcon:hover,
  div.illustrationIcon svg:hover {
    transform: scale(1.5) translate(10px);
  }
}

/* .navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* [data-theme="dark"]svg.injected-svg {
  fill: white;
} */
