/* mobile first  */

.nav {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav p {
 
  padding: 1rem;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  color:var(--text--primary);
  transition: transform 0.25s ease-out;
  text-transform: uppercase;
}

/* button.clear {
  padding: 0.5rem 1rem;
  display: none;
} */


.nav p:active,
.nav p:hover {
  /* border: 2px solid; */
  transition: all 0.5s;
  cursor: pointer;
}

.nav p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out; 
}

.nav p::after:hover {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.artIcon,
.illustrationIcon {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

img.artIcon {
  width: 7rem;
  height: auto;
  transform: scaleX(1);
}

img.illustrationIcon {
  height: 7rem;
  width: auto;
}

img.artIcon:hover, img.illustrationIcon:hover  {
  transform: scale(2);
  transition: transform 0.4s ease-in-out; 
}


/* desktop */

@media only screen and (min-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

 .nav p{
  font-size: 1rem;

 }

  img.artIcon {
    width: 4rem;
    /* height: auto; */
  }

  img.illustrationIcon {
    height: 4rem;
  }
}
