.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* select {
  color: var(--text-primary);
  background-color: var(--div-background-color);
} */

.main-content .container {
  background-color: var(--div-background-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: transparent;
  gap: 2em;
}

.fineArtContainer {
  padding: 2rem 4rem 2rem 2rem;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; */
}

.fineArtGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 0.75fr));
  grid-template-rows: auto;
  background-color: transparent;
  gap: 2em;
}
.imageContainer[style*="background-image"] {
  position: relative;
  cursor: pointer;
  border: var(--border-width) solid var(--border-color);
  box-shadow: 0.5em 0.5em 0em;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.imageContainer[style*="background-image"]::before {
  display: block;
  position: relative;
  content: "";
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100%;
  z-index: 3;
  /* opacity: 0.3; */
  pointer-events: none;
  transition: 0.5s;
}

.imageContainer[style*="background-image"]:hover::before {
  opacity: 0;
}

.fineArt.card .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: relative;
  bottom: 90%;
  left: 50%; */
  transform: translate(5%, 0%);
  text-align: left;
  font-size: 0.7rem;
  /* background-color: #57ff5cb0;
  border: 2px solid var(--accent); */
  /* color: rgb(0, 0, 0); */
  /* text-shadow: rgb(255 255 255 / 74%) 1px 0.3px 3px; */
  opacity: 1;
  transition: all 0.5s;
  padding: 1rem;

  height: fit-content;
  width: 100%;
}

.fineArt.card .details p,
.fineArt.card .details h1 {
  margin-top: 0.5rem;
}

p.sold {
  font-size: 1.5rem;
  color: red;
  background-color: var(--accent);
  padding: 0.3rem;
  border: var(--border-width) solid var(--border-color);
}

/* .fineArtContainer .details p,
h1,
h2,
h3 {
  text-shadow: 0.5px 1px 2px rgb(255, 255, 255);
} */

/* .fineArtContainer .details p:hover,
h1:hover,
h2:hover,
h3:hover {
  text-shadow: 0 0 0;
} */

/* .fineArt.card .details:hover {
  color: var(--accent);
  text-shadow: 0;
  background-color: rgba(166, 255, 130, 0.487);
  border: 2px solid var(--border-color);
} */

.fineArtContainer .details > button {
  margin: 0.5rem 0 0.5rem 0;
}

@media only screen and (min-width: 800px) {
  .filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
